* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    max-width: 1024px;
    padding: 30px 30px 5px 30px;
    text-align: center;
}

/* ## Cabeçalho ## */
header {
    text-align: left;
}

/* Menu */

.listMenu .hide {
    display: inline;
    padding: 4px;
}

.hide {
    list-style: none;
}

/* ## Conteúdo Principal ## */
main {
    margin-top: 30px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px double #52575D;
    margin-bottom: 30px;
    height: 50px;
    width: 100%;
}

.hexadecimal {
    background-color: #FCC0C0;
}

.hexadecimalTransparente {
    background-color: #36306260;
}

.rgb {
    background-color: rgb(115, 198, 182) ;
}

.rgba {
    background-color: rgba(255, 87, 51, 0.7);
}

.hsl {
    background: hsl(82, 56%, 59%);
}

.hsla {
    background: hsl(37, 72%, 35%, 0.4);
}

.corPredefinida {
    background-color: yellow;
}

.corPredefinidaOpaca {
    background-color: yellow;
    opacity: 0.6;
}

/* ## Rodapé ## */
footer {
    margin-top: 20px;
}

footer>p {
    text-align: center;
}